body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;
    grid-template-columns: 3fr 2fr;
    height: 100vh;
    background: #f23557;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    grid-template-areas:
        "headline headline"
        "zip entry"
        "feel entry";
    padding: 1em 2em;
}

.zip {
    grid-area: zip;
}
#zip-error {
    color: white;
    background-color: rgba(253, 0, 0, 0.768);
    outline: red solid 2px;
    max-width: 17em;
    padding: 0.5em;
    display: none;
    text-transform: capitalize;
}
.feel {
    grid-area: feel;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: auto;
}

.entry {
    padding: 2em;
    grid-area: entry;
    background: rgba(59, 74, 107, 0.4);
}

.headline {
    grid-area: headline;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 60px;
    width: 320px;
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    border: none;
}

button {
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: "Oswald", sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    cursor: pointer;
}
button:hover {
    background: #181e2c;
}
h1 {
    font-size: 36px;
}

textarea {
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: "Oswald", sans-serif;
}
